.Broadcast-wrapper{
    display:flex;
    flex-direction: column;
    /* width:34.5rem; */
   
}
.Broadcast-heading{
    font-weight:700;
    font-size:1.25rem;
    line-height: 1.5rem;
    color:#172B4D;
    font-family: 'Inter';
}
.Broadcast-wrapper .ConfigPage{
    display: flex;
    align-items: flex-start;
}
.Broadcast-details{
    margin-top:2.5rem;
}