@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.Screen-wrapper{
  column-gap: 60px;
  
}
.Box-wrapper{
  /* margin-top:48px; */
  margin-top:9.25rem;
  display:flex;
  /* align-items:center; */
  justify-content: center;
  column-gap:3.75rem;
}